<% 
// console.log('trynta render favorites.ejs') 
data.forEach(favorite => { %>
<li class="card">
    <img src="<%= favorite.photo %>" />
    <h4><%= favorite.name %></h4>
    <p class="rating">Rating:
        <%= favorite.rating %>
        <i class="far fa-star"></i>
    </p>
    <p><%= favorite.address %></p>
    </li>
<% }) %>