<% 
console.log('trynta render recent-searches.ejs') 
data.forEach(recent => { %>
<li class="card">
    <a class="recent-search" data-query="<%= recent.query %>">
        <%= recent.query %>
    </a>
</li>
<% }) %>