/* ===== see nav.css for nav-specific stuff ======  */


/* ===== form elements ======  */

fieldset {
    margin-top: 16px;
}

legend {
    width: 100%;
}


input[type=text] {
    border: 3px solid #D3D9CB;
    padding: 24px 16px;
    display: block;
    margin-top: 8px;
    width: 100%;
    border-radius: 1px;
    line-height: 1.2rem;
    font-size: 1.4rem;

}

label {
    line-height: 16px;
    margin-top: 16px;
    display: inline-block;
}


/* ===== footer ======  */

footer {
    min-height: 200px;
    background: #333;
    color: #dedede;
    padding: 24px;
}


/* ===== card-list ======  */

.card-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
}

@media(min-width:640px) {

    .card-list {
        grid-template-columns: 1fr 1fr;
    }

}

@media(min-width:1024px) {

    .card-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media(min-width:1280px) {

    .card-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

.card-list .card {
    margin: 16px 0 0;
    background: #fefefe;
    text-align: center;
}

.card-list-recents .card {
    padding: 16px;
    text-align:center;

}

.card-list .card h4 {
    margin-top: 0;

}

.image-container {
    height: 240px;
    width:240px;
    display:block;
    overflow: hidden;
    margin: 24px auto 16px;
}

.cafe-image {
    height:240px;
    object-fit:cover;
}

.card .button , 
.card button {
    display:block;
    margin: 24px;

}



/*  ------------ Buttons  ------------ */

.button {
    line-height: 52px;
    padding: 0 16px;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-width: 120px;
    text-align: center;
    margin: 16px 0 0;
    border-radius: 1px;
    box-shadow: none;
}

.button-primary {
    background: #D3D9CB;
    color: #555;
}

.button-primary:hover {
    background: #D3D9CB;
    color: #555;
    cursor:pointer;
}

.button-secondary {
    border: 2px solid #D3D9CB;
    color: #666;
}

.button-secondary:hover {
    color: #555;
    border: 2px solid #D3D9CB;
    cursor:pointer;

}


/* ===== page header ======  */

.page-header {
    background: #333;
    height: 80px;
}

.page-header #header-logo {
    height: 40px;
    margin: 20px 0 0 120px;
    position: absolute;
    right: 40px
}


/*  ------------ logo and search form  ------------ */

#logo {
    width: 35vw;
    margin: -16px auto 0;
    min-width: 300px;
}

@media (min-width:1024px) {

    #logo {
        width: 25vw;
        margin: -24px auto 0;
    }

}


#logo-type {
    display: block;
    width: 300px;
    margin: 24px auto 0;
}


#hero {
    text-align: center;
}

#search-form {
    background: #fefefe;
    padding: 48px;
    margin: 48px 0;
    text-align: center;
}

#search-form .button {
    margin: 16px auto 0;
    width: 100%;
}

#search-form h4 {
    margin-top: 0;
}