/* ===== see nav.css for nav-specific stuff ======  */

.page-header {
    background: #333;
    height: 80px;
}

.page-header h2 {
    margin: 0 0 0 120px;
    line-height: 80px;
    color: #dedede;
}


/* ===== form elements ======  */

fieldset {
    margin-top: 16px;
}

legend {
    width: 100%;
}


input[type=text] {
    line-height: 24px;
    border: 2px solid #666;
    padding: 16px;
    display: block;
    margin-top: 8px;
    width: 100%;
}

label {
    line-height: 16px;
    margin-top: 16px;
    display: inline-block;
}

/* ===== footer ======  */

footer {
    min-height: 200px;
    background: #333;
    color: #dedede;
    padding: 24px;
}


/* ===== card-list ======  */

.card-list .card {
    margin: 24px 0 0;
    padding: 16px;
    background: #fefefe;
}

.card-list .card h4 {
    margin-top: 0;
    line-height: 1rem;
}



/*  ------------ Buttons  ------------ */

.button {
    line-height: 44px;
    padding: 0 16px;
    display: block;
    font-weight: 500;
    text-transform: capitalize;
    min-width:120px;
    text-align:center;
    margin: 16px 0 0;
}

.button-primary {
    background: #666;
    color: #dedede;
}

.button-primary:hover {
    background: #555;
    color: #dedede;
}

.button-secondary {
    border: 2px solid #666;
    color: #666;
}

.button-secondary:hover {
    color: #555;
    border: 2px solid #555;

}