
<%- include('../layout/head.ejs')  %>

<body class="front-page">

    <%- include('../layout/header.ejs') %>

    <main>
      <section>
        <h2>
          What is Quiet Spot?
        </h2>
        <img src="/images/quiet_spot_logo_black.png" alt="David Zheng">
        <p>
          Quiet Spot is an app that helps users find a nearby quiet spot, making recommendations based on data from various APIs.
        </p>
        <ul>
          <li>HTML Geolocation API</li>
          <li>Google Geocoding API</li>
          <li>Google Place API</li>
          <li>Evenbrite API</li>
        </ul>
      </section>
      <section>
        <h2>Meet 51 Queit Apples!</h2>
          <h3>
            David Zheng
          </h3>
          <figure>
              <img src="/images/david.jpg" alt="David Zheng">
              <figcaption>David Zheng - 51 Quiet Apple Uno</figcaption>
          </figure>
          <p>
            My name is David Zheng. I am a web developer at Code Fellows. My background is in sports medicine; I received my bachelor’s degree in athletic training from Michigan State University. I am also a Navy veteran; I was an avionics technician in a F/A-18 fighter jet squadron. Prior to Code Fellows, I worked at a Boeing manufacturing plant as an athletic trainer. I decided to try software development because I want to learn something new and challenging. My interest for coding grew from my love of learning different spoken languages. My past experiences as an athletic trainer can shape me into a better developer because of my passion for helping people
          </p>
          <h3>
            Kyungrae Kim
          </h3>
          <figure>
              <img src="/images/jeremiah.jpg" alt="Kyungrae Kim">
              <figcaption>Kyungrae Kim - 51 Quiet Apple Dos</figcaption>
          </figure>
          <p>
            Hi, my name is Kyungrae, and I am a web developer with a background in data analysis project management. So why am I coding? I wanted a career that is more challenging and dynamic, with realistic career opportunities. But at the same time, I wanted something that I could have fun doing and find worthwhile!
          </p>
          <h3>
            Steve Rocketkar
          </h3>
          <figure>
              <img src="/images/steve.jpg" alt="Steve Rocketkar">
              <figcaption>Steve Rocketkar - 51 Quiet Apple Tres</figcaption>
          </figure>
          <p>
            I am Steveeeeeeee!
          </p>
      </section>
    </main>

    <%- include('../layout/footer.ejs') %>
