<%- include('../layout/head.ejs')  %>

<body class="front-page">

    <%- include('../layout/header.ejs') %>

    <main>
        <h1>Error!</h1>
        <p>Uh oh.</p>
    </main>

    <%- include('../layout/footer.ejs') %>