<%- include('../layout/head.ejs')  %>

<body class="front-page">

    <%- include('../layout/header.ejs') %>

    <main>

        <section id="hero">
            <img alt="Quiet Spot" id="logo" src="/images/quiet_spot_logo_black.png" />
            <img alt="Quiet Spot" id="logo-type" src="/images/quiet_spot_type_black.png" />
        </section>
        
        <section id="search-form">
                <h4>Find a Quiet Spot</h4>
            <form id="location-search" action="/search" method="post">

                <fieldset>
                    <legend>
                        <input type="text" name="searchquery" class="location-search-box" value="" placeholder="Search near ..." required>
                    </legend>
                </fieldset>

                <fieldset>
                    <button class="button button-primary" onclick="getLocation()">Get My Current Location</button>
                    <hr />
                    <button class="button button-primary" type="submit" id="location-search-button">Go</button>
                </fieldset>

            </form>
        </section>

        <h3>Favorites</h3>

        <ul id="favorites" class="card-list">
        </ul>

        <h2>Recent searches</h2>

        <ul id="recents" class="card-list card-list-recents">
        </ul>

    </main>

    <%- include('../layout/footer.ejs') %>