<%- include('../layout/head.ejs')  %>

<body class="front-page">

    <%- include('../layout/header.ejs') %>

    <main>
        <h1>Find a Quiet Spot</h1>

        <form id="location-search" action="/search" method="post">

            <fieldset>
                <legend>
                    <input type="text" name="searchquery" class="location-search-box" placeholder="Search near ...">
                </legend>
            </fieldset>

            <fieldset>
                <button type="submit" id="location-search-button">Go</button>
            </fieldset>

        </form>

        <h3>Favorites</h3>

        <ul id="favorites">
        </ul>
        
        <h2>Recent searches</h2>
        
        <ul id="recents">
        </ul>

        <a id="recent">recents</a>

    </main>

    <%- include('../layout/footer.ejs') %>