

<header class="page-header">

    <!-- Nav sourced from: https://codepen.io/erikterwan/pen/EVzeRP -->
    
    <!--    Made by Erik Terwan    -->
    <!--   24th of November 2015   -->
    <!--        MIT License        -->
            <nav role="navigation">
                    <div id="menuToggle">
                      <!--
                      A fake / hidden checkbox is used as click reciever,
                      so you can use the :checked selector on it.
                      -->
                      <input type="checkbox" />
                      
                      <!--
                      Some spans to act as a hamburger.
                      
                      They are acting like a real hamburger,
                      not that McDonalds stuff.
                      -->
                      <span></span>
                      <span></span>
                      <span></span>
                      
                      <!--
                      Too bad the menu has to be inside of the button
                      but hey, it's pure CSS magic.
                      -->
                      <ul id="menu">
                        <a href="/"><li>Home</li></a>
                        <a href="/about/"><li>About</li></a>
                      </ul>
                    </div>
                  </nav>
                
                  <img alt="Quiet Spot" id="header-logo" src="/images/quiet_spot_lockup.png" />
    
    </header>


